@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&family=GFS+Didot&family=GFS+Neohellenic:ital,wght@0,400;0,700;1,400;1,700&family=Josefin+Slab:ital,wght@0,400;0,500;0,600;1,400;1,600&display=swap");
/* 
font-family: 'Alex Brush', cursive;
font-family: 'GFS Didot', serif;
font-family: 'GFS Neohellenic', sans-serif;
font-family: 'Josefin Slab', serif;
*/
:root {
  --primary-color: #3a0d2c;
  --gold: rgb(214, 183, 80);
  --white: white;
  --black: rgb(61, 61, 61);
  --dark: black;
}
::-webkit-scrollbar {
  width: 8px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--gold);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: gold;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: freebsc;
  src: url("./fonts/FREEBSC_.ttf");
}
@font-face {
  font-family: lemon-milk-light;
  src: url("./fonts/LEMONMILK-Light.otf");
}
@font-face {
  font-family: lemon-milk;
  src: url("./fonts/LEMONMILK-Regular.otf");
}
@font-face {
  font-family: font1;
  src: url("./fonts/font.ttf");
}
.color-p {
  color: var(--primary-color) !important;
}
.font1 {
  font-family: "GFS Neohellenic", sans-serif;
  font-style: italic;
  font-weight: 800;
}
.font2 {
  font-family: "GFS Didot", serif;
  font-style: italic;
}
.font3 {
  font-family: "Josefin Slab", serif;
  font-style: italic;
  font-weight: bold;
  font-size: 2.8rem;
}
#header {
  width: 100%;
  height: 100vh;
}
.top-nav {
  height: 6vh;
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  border-bottom: 0.2px solid var(--white);
  /* display: none; */
}
.top-nav .links {
  display: flex;
  list-style: none;
  align-items: center;
  margin: 0;
}

.top-nav .links a {
  color: var(--gold);
  margin: 0 15px;
  text-decoration: none;
}
.lang-box {
  color: var(--white);
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: white;
  padding: 3px 8px;
  border-radius: 5px;
}
.lang-box select {
  border: none;
  outline: none;
  font-size: 0.8rem;
}
.lang-box i {
  font-size: 1.2rem;
  color: var(--black);
}
.nav {
  background-color: var(--primary-color);
  height: 8vh;
  width: 100%;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
}
a {
  text-decoration: none !important;
}
.nav .links a {
  color: var(--gold);
  font-family: "Josefin Slab", serif;
  font-style: italic;
  font-size: 1.2rem;
  font-weight: 600;
  transition: 0.5s;
}
.nav .links a:hover {
  color: rgb(255, 249, 216);
}
.nav .links {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 20px;
  margin-bottom: 0;
}
.logo {
  height: 100%;
}
.header-img {
  height: 92vh;
  overflow: hidden;
  position: relative;
  z-index: 100;
}
.header-img .bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(66, 0, 0, 0.479),
    rgba(58, 0, 105, 0.39)
  );
}
.header-img .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-img .bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.header-img .text {
  position: absolute;
  top: 1%;
  left: 0%;
  max-width: 800px;
  font-family: freebsc;
  color: var(--gold);
  font-size: 0.8rem !important;
}

.text .highlight {
  color: rgb(223, 43, 43);
}
.text .heading {
  letter-spacing: 3px;
  word-spacing: 1.2;
  position: absolute;
  width: 250px;
  top: 50%;
  left: 52%;
  transform: translateX(-50%) translateY(-50%);
  font-size: 1.5rem !important;
}
.bg.img1 {
  opacity: 1;
  transition: 1.5s;
}
.bg.img2 {
  opacity: 0;
  transition: 1.5s;
}
#product {
  position: relative;
  /* background:url(./../img/product_bg1.jpg) no-repeat center center/cover; */
  background:linear-gradient( #812c59,white);
  z-index: 1;
  padding-top: 180px !important;
  min-height: 100vh;
}
/*#product::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.219),
    rgba(0, 14, 36, 0.411)
  );
  top: 0;
  left: 0;
  z-index: -1;
} */

.product_heading {
  background: url(./../img/bottom.png) no-repeat center bottom/contain;
  position: absolute;
  width: 400px;
  height: 160px;
  z-index: 2;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
}
.product_heading .heading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: maroon;
}
#recorded {
  position: relative;
  background:linear-gradient(white,#3a0d2c);
  padding: 190px 70px !important;
}
.heading_con {
  background: url(./../img/bottom.png) no-repeat center bottom/contain;
  position: absolute;
  width: 360px;
  height: 160px;
  z-index: 2;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
}
.product_heading .heading{
  color: var(--white) !important;
}
.upcoming_heading{
  width: 380px !important;
}
.wedding_heading{
  width: 330px !important;
}
.heading_con .heading {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--primary-color);
  text-shadow: 2px 2px 5px rgb(44, 44, 44);;
}

.services-block-three .box {
  padding: 20px;
  height: 250px;
}
.product_container {
  flex-wrap: wrap;
  gap: 15px;
}
.product {
  flex: 500px 1;
  padding: 20px;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  color: var(--white);
  gap: 10px;
}

.product img {
  filter: drop-shadow(2px 4px 20px rgba(0, 0, 0, 0.534));
}

.product .btns {
  gap: 15px;
  margin: 25px 0;
  background-color: rgb(175, 2, 255);
  padding: 25px 0;
  border-radius: 10px;
}
.btn-1:hover {
  background-color: rgb(236, 236, 236);
}
.btn-1 {
  background-color: white;
  padding: 4px 12px;
  border-radius: 8px;
  color: var(--dark);
  font-size: 1.1rem;
  border: none;
  outline: none;
}
.btn-2:hover {
  background-color: rgb(0, 182, 136);
}
.btn-2 {
  background-color: rgb(0, 211, 158);
  padding: 4px 12px;
  border-radius: 8px;
  color: var(--white);
  font-size: 1.1rem;
  border: none;
  outline: none;
}
.wedding_container {
  height: 100vh;
  width: 100%;
}

.toggler {
  display: none;
}
#coming-soon{
  position: relative;
}
/* footer */
ul {
  margin: 0px;
  padding: 0px;
}
.footer-section {
  background: var(--primary-color);
  position: relative;
}
.footer-section::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 500px;
  height: 500px;
  background: url(./../img/footer_img.png) no-repeat center center/70%;
}
.footer-cta {
  border-bottom: 1px solid #373636;
}
.single-cta i {
  color: #ff5e14;
  font-size: 30px;
  float: left;
  margin-top: 8px;
}
.cta-text {
  padding-left: 15px;
  display: inline-block;
}
.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}
.cta-text span {
  color: #757575;
  font-size: 15px;
}
.footer-content {
  position: relative;
  z-index: 2;
}
.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}
.footer-logo {
  margin-bottom: 30px;
}
.footer-logo img {
  max-width: 200px;
}
.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
  color: #7e7e7e;
  line-height: 28px;
}
.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  margin-bottom: 20px;
}
.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}
.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}
.facebook-bg {
  background: #3b5998;
}
.twitter-bg {
  background: #55acee;
}
.google-bg {
  background: #dd4b39;
}
.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}
.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #b6270f;
}
.footer-widget ul {
  display: flex;
}
.footer-widget ul li {
  display: flex;
  width: 50%;
  margin-bottom: 12px;
  margin-right: 12px;
}
.footer-widget ul li a:hover {
  color: #b6270f;
}
.footer-widget ul li a {
  color: #878787;
  text-transform: capitalize;
  white-space: nowrap;
}
.subscribe-form {
  position: relative;
  overflow: hidden;
}
.subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: #2e2e2e;
  border: 1px solid #2e2e2e;
  color: #fff;
}
.subscribe-form button {
  position: absolute;
  right: 0;
  background: #b6270f;
  padding: 13px 20px;
  border: 1px solid #b6270f;
  top: 0;
}
.subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}
.copyright-area {
  background: #2b0a20;
  padding: 25px 0;
}
.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}
.copyright-text p a {
  color: #b6270f;
}
.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}
.footer-menu li:hover a {
  color: #b6270f;
}
.footer-menu li a {
  font-size: 14px;
  color: #878787;
}
@media only screen and (max-width: 600px) {
  .toggler {
    display: block;
    color: white;
    display: flex;
    align-items: center;
  }
  .toggler:hover {
    cursor: pointer;
  }
  .toggler i {
    font-size: 1.2rem;
  }

  .nav {
    position: relative;
  }
  .nav .links.active {
    height: 210px;
    padding: 20px;
  }
  .nav .links {
    position: absolute;
    top: 8vh;
    left: 0;
    background-color: var(--primary-color);
    flex-direction: column;
    height: 0px;
    overflow: hidden;
    z-index: 100;
    width: 100%;
    transition: 0.5s;
    z-index:101;
  }

  .header-img .text img {
    width: 100%;
  }
  #coming-soon{
    padding-top: 180px !important;
  }
  #recorded{
    padding: 180px 15px !important;
  }
  .footer-section::before{
    background:none;
  }
}
.move_top{
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 50;
}

.move_top button:hover{
  background-color: rgb(235, 235, 235);
}
.move_top button{
  background-color: white;
  border: none;
  outline: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.move_top button img{
  width: 40px;
  height: 40px;
  transform: rotate(10deg);
  animation: animate 2s linear infinite alternate;
}
.videos{
  gap: 20px;
  flex-wrap: wrap;
}
.videos .video{
  border-radius: 25px;
  overflow: hidden;
  position: relative;;
  box-shadow: 5px 5px 15px -8px black;
  flex:1 1 500px;
}

.video::before{
  content: '';
  position: absolute;
  top: 0;
  left: -10px;
  width: 110%;
  height: 110%;
  background: url('./../img/video_frame.png') no-repeat center center/cover;
}
@keyframes animate {
  0% {
    transform: translateY(-5px);
  }
  100%{
    transform: translateY(5px);
  }
}